.usersFormat {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    display: flex;
}

.users {
    display: inline-block;
    padding: 5px;
    width: 70px;
}

.usersTotal {
    padding: 10px;
}

.userDisplayName {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.userTotal {
    height: 60px;
    padding: 10px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    color: #004e8c;
    vertical-align: top;
}

mgt-person {
    --font-size: 10px;
    --avatar-size-s: 50px;
    cursor: pointer;
    padding-left: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        display: inline-block;
        visibility: hidden;
        padding: 10px;
        width: 400px;
        border: 3px solid #eee;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        background-color: white;
        color: gray;
        text-align: left;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip - takes 1 second to go from 0% to 100% opac:*/
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
